.main{
    padding: 50vpx;
}
.card:hover{
    transform:scale(0.9);
}

.overlay{
    min-height: 100vh;
    width:100%;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1));
    display:flex;
    align-items: center;
    justify-content: center;
}

.overlay-inner{
    background: white;
    width: 700px;
    height: 550px;
    padding: 1.5rem;
    position:relative;
    box-sizing: border-box;
    overflow:hidden;
    /* font-size: 1.3rem; */
}