@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family:'Verdana'; 
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; !!!!!!!!!! THE FONT STYLE FOR THE WHOLE WEBSITE !!!!!!  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffff; /*the background color for the whole website*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
